$primary: #8EED8B;
$success: #929ff3;
$info: #f567ed;

@import 'node_modules/bulma/bulma.sass';

* {
  box-sizing: border-box;
}

html, body {
  background-color: #e3f0d5;
  min-height: 100vh;
  overflow: auto;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
  max-width: 60%;
  z-index: 50;
}

.context-menu {
  font-family: monospace;

  & > div > div {
    padding: 0 9px 0 15px !important;
  }
}

aside.menu {
  padding: 1.5rem;
  background-color: #f0e5d5;

  .kinds a {
    opacity: 0.8;
    text-shadow: 1px 1px 1px white;

    &.is-active {
      color: white;
      text-shadow: 1px 1px 1px black;
    }
  }
}

.menu-body {
  max-width: 700px;
  padding-top: 26px;
}

header {
  padding: 20px 40px 0;
}

.record-container {
  margin: auto;
  width: 100vw;
  min-height: 900px;
  padding: 0 26px 0 14px;
  background-color: #f0e5d5;

  table.table-view {
    width: calc(100vw - 40px);

    thead {
      tr { background-color: teal; }
      th {
        color: white;
        text-align: center;
      }
    }
  }

  .floating-view {
    position: relative;
    margin: 0 40px;
  }

  table {
    background-color: hsl(177, 66%, 90%);

    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
  }
}

.record {
  td.error {
    background: pink;
  }

  td {
    input {
      padding-left: 5px;

      &:focus {
        background-color: #def6ff;
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: monospace;
    background-color: inherit;
  }
}

.floating-view .record {
  overflow: hidden;
  min-width: 110px;

  .id {
    float: right;
    margin-right: 2px;
  }

  table {
    border: 2px solid cyan;
  }


  &.focused {
    table { background-color: white; }
  }

  td, th {
    height: 28px;
    min-width: 50px;
    border: 1px solid #dbdbdb;
  }

  th {
    width: 39%;
    max-width: 100px;
    position: relative;
    background-color: '#f6f1f6';

    &:after {
      content: ": ";
      position: absolute;
      right: 0;
    }

    input {
      text-align: right;
      padding-right: 6px;

      &:focus {
        background-color: #ffe8d7;
      }
    }
  }

  .resizer {
    position: absolute;
    right: 0;
    top: 1em;
    bottom: 0;
    width: 12px;
    cursor: e-resize;
  }
}

.table-view .record {
  &.focused {
    background-color: white;
  }

  &.unset {
    background: hsl(177, 67%, 92%);
  }

  th {
    text-align: center;
  }

  th, td {
    vertical-align: middle;
  }
  td {
    padding: 0;
  }
  th, td input {
    padding: 0.4em 0.4em 0.4em 0.75em;
  }
  td input {
    height: 33px;
  }
}
