$primary: #8EED8B;
$success: #929ff3;
$info: #f567ed;

@import 'node_modules/bulma/bulma.sass';

* {
  box-sizing: border-box;
}

html, body {
  background-color: #e3f0d5;
  min-height: 100vh;
  overflow: auto;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 400px;
  max-width: 60%;
  z-index: 50;
}

.context-menu {
  font-family: monospace;

  & > div > div {
    padding: 0 9px 0 15px !important;
  }
}

header {
  padding: 40px;
}

.record-container {
  margin: auto;
  width: 100vw;
  min-height: 900px;
  padding: 0 26px 0 14px;
  background-color: #f0e5d5;

  table.table {
    width: calc(100vw - 40px);
  }

  .floating {
    position: relative;
    margin: 0 40px;
  }
}

.record {
  overflow: hidden;

  .id {
    float: right;
    margin-right: 2px;
  }

  &.focused {
    table { background-color: white; }
  }

  table {
    border: 2px solid cyan;

    background-color: papayawhip;

    width: 100%;
    margin: 0;
    border-collapse: collapse;
    border-spacing: 0;
  }

  td, th {
    height: 28px;
    min-width: 50px;
    border: 1px solid #dbdbdb;
  }

  th {
    width: 39%;
    max-width: 100px;
    position: relative;
    background-color: '#f6f1f6';

    &:after {
      content: ": ";
      position: absolute;
      right: 0;
    }

    input {
      text-align: right;
      padding-right: 6px;

      &:focus {
        background-color: #ffe8d7;
      }
    }
  }

  td {
    input {
      padding-left: 5px;

      &:focus {
        background-color: #def6ff;
      }
    }
  }

  input {
    width: 100%;
    height: 100%;
    border: none;
    font-family: monospace;
    background-color: inherit;
  }
}
